$fa_path: "../../node_modules/font-awesome/scss";
$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

.wrapper {
  margin: 0 auto;
  width: 80%;

  .half-width {
    width: 50%;
  }

  .align-center {
    margin: 0 auto;
  }
}

.row {  
  width: 100%;
  padding: 20px 0;
  .col {
    float: left;
    text-align: center;
    min-height: 1px;
    &.main {
      width: 40%;
    }
    &.middle {
      width: 20%;
    }
  }
  .col-single {
    text-align : center;
    width: 100%
  }
}

.divider-10 {
    width:10px;
    height:auto;
    display:inline-block;
}

.top-buffer-10 {
  padding-top: 10px;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}