$fa_path: "../../node_modules/font-awesome/scss";
$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.498039);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.text-light {
  color: #777;
}

.text-dark-background {
  color: rgba(255, 255, 255, 0.541176);
}

.game-won {
  color: #cc0000;
}

.game-lost {
  color: #586949;
}

.no-gap {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  min-height: 600px;

  .half-width {
    width: 50%;
  }

  .align-center {
    text-align: center;
  }
}

.row {  
  width: 100%;
  padding: 20px 0;
  .col {
    float: left;
    text-align: center;
    min-height: 1px;
    &.main {
      width: 40%;
    }
    &.middle {
      width: 20%;
    }
    &.three {
      width: 33.33%;
    }
  }
  .col-single {
    text-align : center;
    width: 100%
  }
}

.footer {
  margin-top: 20px;
  background: #78909C;
  .wrapper{
    text-align: center;
    padding: 20px 0;
    min-height: 100px;
  }

  h4 {
    margin: 10px auto;
  }
}

.divider-10 {
    width:10px;
    height:auto;
    display:inline-block;
}

.top-buffer-10 {
  padding-top: 10px;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

i {
  &.color-main-icon {
    color: #3e75c3
  }
}

.display-none {
  display: none;
}

